.top-menu-container {
    -fx-padding: 10 0 0 0;
}

.btn {
    -fx-alignment: CENTER;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
    -fx-font-size: 10pt;
    -fx-font-family: Impact ;
    -fx-padding: 10px 20px;
    -fx-background-radius: 30px;
    -fx-background-insets: 0px;
}

.btn:hover {
    -fx-background-color: #1976D2;
}

.btn:pressed {
    -fx-background-color: #0D47A1;
}

.hbox-container {
    -fx-alignment: CENTER;
}

.vbox-container {
     -fx-alignment: CENTER;
     -fx-spacing: 5;
}

.calendar-grid-pane {
    -fx-alignment: top-center;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.day-label {
    -fx-alignment: CENTER;
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10px;
    -fx-text-fill: #333333;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.day-label:hover {
    -fx-background-color: #2196F344;
}

.day-label-occupe {
    -fx-alignment: CENTER;
    -fx-background-color: #12345622;
    -fx-background-radius: 10px;
    -fx-text-fill: #333333;
    -fx-border-radius: 10px;
    -fx-border-color: #123456;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.day-label-occupe:hover {
    -fx-background-color: #12345644;
}

.year {
    -fx-text-fill: #007FFF;
    -fx-font-size: 24px;
}

.month {
    -fx-text-fill: #1976D2;
    -fx-font-size: 18px;
}

.badge {
    -fx-background-color: #eeeeee;
    -fx-font-size: 10pt;
    -fx-font-family: Impact ;
    -fx-alignment: center-right;
    -fx-text-alignment: center-right;
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-text-fill: black;
    -fx-padding: 10 10 10 10;

}
.badge-container{
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-alignment: CENTER ;
}
.btnAucunPlanning {
    -fx-background-color: #eeeeee;
    -fx-font-size: 10pt;
    -fx-font-family: Impact ;
    -fx-alignment: bottom-left;
    -fx-background-radius: 10px;
    -fx-text-fill: black;
    -fx-padding: 10px 10px;}


