.sidebar {
    -fx-background-color: #333333;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-fill-height: true;
}

.logo-container {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 20 0 100 0;
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.menu {
    -fx-spacing: 5;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
}

.menu-item:hover {
    -fx-background-color: #555555;
}
